section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash__login,
.splash__prompt {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  width: 350px;
  padding: 10px 40px;
}

.splash__login {
  margin-bottom: 10px;
}

.splash__logo {
  width: 175px;
  height: 51px;
  align-self: center;
  margin: 36px 12px;
}

.splash__login, form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
}

input:focus {
  outline: none;
  border: 1px solid #a9a9a9;
}

form button {
  margin-top: 10px;
}

form input {
  padding: 9px;
}