.account__settings-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.setting__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.setting__item p {
  flex: 1;
}