* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --backGrey: #fafafa;
}

.app {
  background-color: var(--backGrey);
}

.app__header {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #dbdbdb;
}

.app__headerLogo {
  object-fit: contain;
  width: 103px;
}
