* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --backGrey: #fafafa;
}

.app {
  background-color: var(--backGrey);
}

.app__header {
  background-color: #fff;
  padding: 16px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerLogo {
  object-fit: contain;
  width: 103px;
}
